* {
	box-sizing: border-box;
}

h1, h2, .edition_tab {
	font-family: sans-serif;
	color: white;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 16px;
}

header {
	background: #454545;
}

#editions_tab {
	background: #3b3b3b;
}

.edition_panel {
	background: #554428;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.timeline, .ruler {
	display: flex;
	position: relative;
	flex-direction: column;
}

.timeline {
	width: 36px;
	margin-top: 40px;
	margin-left: 40px;
}

.timeline .year {
	background: url("../images/timeline/timeline.png") top center repeat-y;
	margin: 72px 0;
	position: relative;
	display: flex;
	justify-content: center;
}

.timeline .year::before {
	display: block;
	content: "";
	background: url("../images/timeline/timeline_start.png") no-repeat;
	width: 36px;
	height: 72px;
	position: absolute;
	top: -72px;
}

.timeline .year::after {
	display: block;
	content: "";
	background: url("../images/timeline/timeline_end.png") no-repeat;
	width: 36px;
	height: 72px;
	position: absolute;
	bottom: -72px;
}

.ruler .year {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: #685231;
	width: 80px;
	padding-bottom: 144px;
	box-sizing: content-box;
}

.ruler .year:first-child {
	padding-top: 40px;
}

.ruler .year:last-child {
	padding-bottom: 184px;
}

.version {
	position: absolute;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	background: brown;
	z-index: 10;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.version.update-major {
	background: url("../images/timeline/icon_update_major.png");
	width: 44px;
	height: 44px;
	margin-top: -22px;
}

.version.update-minor {
	background: url("../images/timeline/icon_update_minor.png");
	width: 44px;
	height: 44px;
	margin-top: -22px;
}

.version.endpoint {
	background: url("../images/timeline/icon_endpoint.png");
	width: 108px;
	height: 108px;
	margin-top: -54px;
}

.version.first {
	margin-top: -108px;
}

.version.today {
	margin-top: 0;
}

.version.nointeract {
	cursor: unset;
}

.preview {
	position: absolute;
	left: 100%;
	margin-left: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.preview>*{
	margin-right: 16px;
}

.preview img {
	height: 64px;
}

.preview .title, .preview .subtitle, .preview h1 {
	white-space: nowrap;
}

.preview .title {
	font-weight: bold;
}

.preview .box {
	background: #a09172;
	padding: 10px;
}

.preview .box h1 {
	text-align: center;
}

.hidden {
	display: none;
}



