@import "reset";
@import "fonts/minecrafton";

$font-family:  "Minecrafton", "Minecraftia", monospace, sans-serif;

$font-size-small: 16px;
$font-size-standard: 2 * $font-size-small;
$font-size-big: 3 * $font-size-small;

$color-text: white;
$color-text-secondary: black;
$color-text-shadow: rgba(0, 0, 0, 0.5);

* {
	box-sizing: border-box;
	-webkit-user-select: none;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

h1, h2, h3, li, a, p {
	font-family: $font-family;
	color: $color-text;
}

h1 {
	font-size: 48px;
	text-shadow: 3px 3px 0 $color-text-shadow;
}

h2, li, p {
	font-size: 32px;
	text-shadow: 2px 2px 0 $color-text-shadow;
}

h3 {
	font-size: 16px;
	text-shadow: 1px 1px 0 $color-text-shadow;
}

a {
	cursor: pointer;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}

}

.start-message {

	text-align: center;
	padding-top: 60px;

	h2 {

		margin: 20px 0;

	}

}

body {
	background: url("../images/backgrounds/dirt_dark.png") repeat left top, #281C13;
	&.locked {
		overflow: hidden;
	}
}

header.main {

	background: url("../images/backgrounds/stone.png") repeat left top, #505050;
	z-index: 10;
	display: flex;
	align-items: center;
	padding: 20px;
	height: 100px;

	.vline {
		width: 2px;
		height: 100%;
		background: white;
		border-right: 1px solid rgba(0, 0, 0, 0.8);
		border-bottom: 1px solid rgba(0, 0, 0, 0.8);
		margin: 0 30px;
	}

	.vbox {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	h2 {
		margin-top: -6px;
	}

	.vbox.info {
		margin-left: auto;
		align-items: flex-end;
	}

}

.editions_tab {

	background: url("../images/backgrounds/stone_dark.png") repeat left top, #343434;
	font-size: 32px;

	.edition_tab {

		cursor: pointer;
		display: inline-block;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
		padding: 5px 10px;

		&.selected {
			background: url("../images/backgrounds/stone.png") repeat left top, #505050;
		}

	}

}

.edition_panel {

	background: url("../images/backgrounds/plank_new.png") repeat-x left bottom,
				url("../images/backgrounds/plank_veryold.png") repeat-x left top,
				url("../images/backgrounds/plank_old.png") repeat left top,
				#54442A;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;

}

.timeline-panel {

	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.75) inset;

}

.timeline, .ruler, .upcoming-timeline {

	display: flex;
	position: relative;
	flex-direction: column;

}

$major-width: 52px;
$minor-width: 44px;
$endpoint-width: 120px;

$box-padding: 10px;
$box-border: 8px;
$box-content-height: 1.5 * $font-size-big;
$box-height: (2 * $box-padding) + (2 * $box-border) + $box-content-height;

$year-start-height: 72px;
$year-end-height: 82px;

$real-timeline-margin: 60px;

.preview {

	position: absolute;
	left: 100%;
	margin-left: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;

	&>* {

		margin-right: 16px;

	}

	img {

		height: 64px;

	}

	.title, .subtitle, h1 {

		white-space: nowrap;

	}

	.title {

		text-shadow: 2px 0 rgb(255, 255, 255), 4px 2px 0 rgba(0, 0, 0, 0.5);
		letter-spacing: 2px;

	}

	.text-box {

		font-size: $font-size-standard;
		width: 10em;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: flex-start;

	}

}

$upcoming-label-height: 206px;

.timeline {

	$timeline-width: 46px;

	margin: ((2 * $real-timeline-margin) + $endpoint-width + $box-height - $year-start-height) 0
			((2 * $real-timeline-margin) + $endpoint-width + $box-height - $year-end-height) 0;
	width: $timeline-width;

	.year {

		background: url("../images/timeline/timeline.png") top center repeat-y;
		margin: $year-start-height 0 $year-end-height 0;
		position: relative;
		display: flex;
		justify-content: center;

		&::before {

			display: block;
			content: "";
			background: url("../images/timeline/timeline_start.png") no-repeat;
			width: $timeline-width;
			height: $year-start-height;
			position: absolute;
			top: -$year-start-height;

		}

		&::after {

			display: block;
			content: "";
			background: url("../images/timeline/timeline_end.png") no-repeat;
			width: $timeline-width;
			height: $year-end-height;
			position: absolute;
			bottom: -$year-end-height;

		}

		.version {

			position: absolute;
			z-index: 10;
			cursor: pointer;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;

			&.alt {

				.preview {

					left: unset;
					right: 100%;
					margin-left: unset;
					margin-right: 16px;
					flex-direction: row-reverse;

					h1,h2,h3 {
						text-align: right;
					}

					&>*{

						margin-right: unset;
						margin-left: 16px;

					}

					.text-box {

						align-items: flex-end;

					}

				}

				.box {

					.preview {

						margin-right: 26px;

					}

				}

			}

			&.update-major {

				background: url("../images/timeline/icon_update_major.png");
				width: $major-width;
				height: $major-width;
				margin-top: -($major-width/2);

			}

			&.update-minor {

				background: url("../images/timeline/icon_update_minor.png");
				width: $minor-width;
				height: $minor-width;
				margin-top: -($minor-width/2);

			}

			&.endpoint {

				width: $endpoint-width;
				height: $endpoint-width;
				margin-top: -($endpoint-width/2);

				&.first {

					background: url("../images/timeline/icon_first.png");

				}

				&.today {

					background: url("../images/timeline/icon_today.png");

				}

			}

			&.first {

				margin-top: -$endpoint-width;
				justify-content: center;
				align-items: center;

				.box {

					margin-bottom: $real-timeline-margin + $endpoint-width;

				}

			}

			&.today {

				margin-top: 0;
				justify-content: center;
				align-items: center;

				.box {

					align-self: flex-start;
					margin-top: $real-timeline-margin + $endpoint-width;

				}

			}

			&.nointeract {

				cursor: unset;

			}

			.box {

				position: relative;
				border: $box-border solid transparent;
				border-image: url("../images/borders/panel_basic.png") 8 fill stretch stretch;
				padding: $box-padding;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-end;
				align-self: flex-end;

				.preview {

					margin-left: 26px;

				}

				.content {

					height: $box-content-height;

					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: stretch;

					h1 {

						flex: 1;

						white-space: nowrap;
						text-align: center;
						margin: -10px 0;

					}

				}

			}

		}

	}

	.upcoming-timeline {

		margin-top: (2 * $real-timeline-margin) + $endpoint-width + $box-height - $year-end-height + $upcoming-label-height;
		margin-bottom: -(($real-timeline-margin) + $endpoint-width + $box-height - $year-end-height);

		&:before {

			display: block;
			content: "";
			background: url("../images/timeline/timeline_upcoming.png") no-repeat;
			width: $timeline-width;
			height: $upcoming-label-height;
			position: absolute;
			top: -$upcoming-label-height;

		}

	}

}

.ruler {

	padding: ((2 * $real-timeline-margin) + $endpoint-width + $box-height - $year-start-height) 0
			 ((2 * $real-timeline-margin) + $endpoint-width + $box-height - $year-end-height) 0;
	width: 128px;
	background: url("../images/backgrounds/log_new.png") repeat-x left bottom,
				url("../images/backgrounds/log_old.png") repeat left top,
				#6B5432;

	.year {

		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding-bottom: $year-end-height + $year-start-height;
		box-sizing: content-box;

		&:after {

			display: block;
			content: '';
			background: url("../images/ruler/arrow.png") no-repeat;
			width: 76px;
			height: 76px;
			position: absolute;
			left: 100%;
			margin-top: -21px;

		}

		&:first-child:after {

			display: block;
			content: '';
			background: url("../images/ruler/arrow.png") no-repeat;
			width: 76px;
			height: 76px;
			position: absolute;
			left: 100%;

		}

	}

	.upcoming-ruler {

		margin-top: (2 * $real-timeline-margin) + $endpoint-width + $box-height - $year-end-height + $upcoming-label-height;
		margin-bottom: -(($real-timeline-margin) + $endpoint-width + $box-height - $year-end-height);

	}

}

.infopanel-wrapper {

	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 90;
	background: rgba(0,0,0,0.49);

}

.infopanel {

	border: 52px solid transparent;
	border-image: url("../images/borders/panel_book.png") 52 fill repeat repeat;
	width: 50%;
	height: 60%;
	display: flex;
	flex-direction: column;

	h1,h2,h3,a,li, p {

		text-shadow: none;
		color: $color-text-secondary;

	}

	header {

		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 2px solid transparentize($color-text-secondary,0.8);

		#infopanel-fun-fact {

			margin-top: 10px;
			padding-top: 10px;
			border-top: 2px solid transparentize($color-text-secondary,0.8);
			font-style: italic;
			line-height: 0.8em;

		}

		.title {

			display: flex;
			justify-content: space-between;

			#infopanel-close {

				outline: none;
				border: none;
				background: url("../images/icons/ui/button_close.png") no-repeat center center;
				cursor: pointer;
				flex-shrink: 0;

				width: 48px;
				height: 48px;

				&:hover {

					filter: brightness(1.1);

				}

			}

		}

	}

	.content {
		overflow-y: auto;
	}

	li {

		margin-bottom: -0.2em;

		&:before {

			content: "• ";

		}

		&:last-child {
			margin-bottom: 0;
		}

	}

}

.hidden {
	display: none;
}