@import "reset";
@import "fonts/minecrafton";

$color-text: white;
$color-text-secondary: black;
$color-text-disabled: #585858;
$color-text-shadow: rgba(0, 0, 0, 0.5);

$font-family:  "Minecrafton", "Minecraftia", monospace, sans-serif;

$font-size-small: 16px;
$font-size-standard: 2 * $font-size-small;
$font-size-big: 3 * $font-size-small;

$text-shadow-small: 1px 1px 0 $color-text-shadow;
$text-shadow-standard: 2px 2px 0 $color-text-shadow;
$text-shadow-big: 3px 3px 0 $color-text-shadow;

@mixin for-600-down {
	@media (max-width: 599px) { @content; }
}
@mixin for-600-up {
	@media (min-width: 600px) { @content; }
}
@mixin for-750-up {
	@media (min-width: 750px) { @content; }
}
@mixin for-900-up {
	@media (min-width: 900px) { @content; }
}
@mixin for-1200-up {
	@media (min-width: 1200px) { @content; }
}
@mixin for-1600-up {
	@media (min-width: 1600px) { @content; }
}
@mixin for-1800-up {
	@media (min-width: 1800px) { @content; }
}

* {
	box-sizing: border-box;
	-webkit-user-select: none;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

h1, h2, h3, li, a, p {
	font-family: $font-family;
	color: $color-text;
}

h1 {
	font-size: 48px;
	text-shadow: $text-shadow-big;
}

h2, li, p {
	font-size: 32px;
	text-shadow: $text-shadow-standard;
}

h3 {
	font-size: 16px;
	text-shadow: $text-shadow-small;
}

a {
	cursor: pointer;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}

}

.start-message {

	text-align: center;
	padding: 100px 0;

	h2 {

		margin: 20px 0;

	}

}

html, body, .base {
	min-height: 100vh;
}

body {
	background: url("../images/backgrounds/dirt_dark.png") repeat left top, #281C13;
	&.locked {
		position: fixed;
		overflow-y: scroll;
		width: 100%;
	}
}

.base {

	display: flex;
	flex-direction: column;
	align-items: stretch;

	.top, footer {
		flex-shrink: 0;
	}

	main {
		flex: 1;
	}

	.top {

		z-index: 40;
		top: 0;
		position: sticky;
		box-shadow: 0 0 20px rgba(0,0,0,0.7);

		header {

			background: url("../images/backgrounds/stone.png") repeat left top, #505050;
			z-index: 10;
			display: flex;
			align-items: center;
			padding: 15px 10px 10px 10px;

			.header-content {

				display: flex;
				align-items: center;
				width: 100%;

				.logo {
					height: 25px;
				}

				.separator {

					width: 2px;
					background: white;
					border-right: 1px solid rgba(0, 0, 0, 0.8);
					border-bottom: 1px solid rgba(0, 0, 0, 0.8);
					margin: 0 10px;
					align-self: stretch;

				}

				.box {

					display: flex;
					flex-direction: column;
					align-items: center;

					//.title, .content {
					//
					//	margin: 0 10px;
					//
					//}

					.title {

						font-size: $font-size-small;
						text-shadow: $text-shadow-small;
						text-align: right;

					}

					.content {

						display: flex;
						flex-direction: column;

					}

					.relevant {

						display: none;

					}

					#edition_description {
						font-style: italic;
					}

				}

			}

			#button-nav-show {

				width: 32px;
				height: 32px;
				border: none;
				outline: none;
				cursor: pointer;
				background: url("../images/icons/ui/button_hamburger.png") no-repeat center center;
				display: block;
				padding: 0;
				flex-shrink: 0;
				background-size: cover;

			}

			@include for-750-up {

				padding: 20px;

				.header-content {

					.logo {

						height: unset;

					}

					.separator {

						margin: 0 30px;

					}

					.box {

						align-items: flex-start;
						margin-top: -7px;

						.relevant {

							display: block;

						}

						.title {

							font-size: $font-size-standard;
							text-shadow: $text-shadow-standard;
							text-align: left;

						}

						.title, .content{

							margin: 0;

						}

						#edition_description {
							font-style: normal;
						}

					}

				}

				#button-nav-show {

					width: 64px;
					height: 64px;

				}

			}

		}

	}

	footer {

		background: url("../images/backgrounds/stone.png") repeat left top, #505050;
		padding: 20px;

		h3 {
			text-align: right;
			&::after {
				content: ' •';
			}
		}

	}

}

#button-options {
	position: sticky;
}

.editions-nav {

	background: url("../images/backgrounds/stone_dark.png") repeat left top local, #343434;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	z-index: 200;
	transition: width 0.5s;
	width: 0;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
	border-left: 0 solid #484848;

	#button-nav-hide {

		flex-grow: 0;
		flex-shrink: 0;
		width: 32px;
		height: 32px;
		border: none;
		outline: none;
		cursor: pointer;
		background: url("../images/icons/ui/button_return.png") no-repeat center center;
		display: block;
		padding: 0;
		background-size: cover;
		align-self: flex-end;
		margin: 12.5px 10px;

	}

	.editions-tab-list {

		flex-grow: 0;
		flex-shrink: 0;

		.edition-tab {

			cursor: pointer;
			display: block;
			text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
			text-align: right;
			padding: 5px 10px;
			white-space: nowrap;

			&.empty {

				color: $color-text-disabled;
				position: relative;

				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					background: url("../images/misc/soon.png") no-repeat bottom right;
				}

			}

			&.selected {

				background: url("../images/backgrounds/stone.png") repeat left top, #505050;
				box-shadow: 0 0 0 0 rgba(0,0,0,0.8);

			}

		}

	}

	.options {

		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-end;

		button {

			border: 4px solid transparent;
			border-bottom: 6px solid transparent;
			outline: none;
			background: none;
			border-image-source: url("../images/borders/button.png");
			border-image-slice: 4 4 6 4 fill;
			border-image-repeat: repeat repeat;
			color: $color-text;
			font-size: $font-size-standard;
			text-shadow: $text-shadow-standard;
			font-family: $font-family;
			padding: 0.1em;
			margin: 3px 2px;
			white-space: nowrap;
			cursor: pointer;

		}

		button:hover {
			
			border-image-source: url("../images/borders/button_pressed.png");
			
		}

	}

}

.edition-panel {

	background: url("../images/backgrounds/plank_new.png") repeat-x left bottom,
				url("../images/backgrounds/plank_veryold.png") repeat-x left top,
				url("../images/backgrounds/plank_old.png") repeat left top,
				#54442A;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;

}

.timeline-panel {

	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	box-shadow:
			15px 0 30px -15px rgba(0,0,0,.75) inset,
			-15px 0 30px -15px rgba(0,0,0,.75) inset,
			0 -15px 30px -15px rgba(0,0,0,.75) inset;

}

.timeline, .ruler, .upcoming-timeline {

	display: flex;
	position: relative;
	flex-direction: column;

}

// Jesus Christ.
// This is possibly the ugliest code I've ever written.
// Suggestions on ways to fix this are VERY welcome!

// Image sizes ----------------------

$major-width: 52px;
$minor-width: 44px;
$event-width: 44px;
$memory-width: 44px;
$endpoint-width: 80px;
$year-start-height: 72px;
$year-end-height: 82px;

// Endpoint Offsets -----------------

$endpoint-start-offset: 10px;
$endpoint-end-offset: 10px;

// Box padding & borders ------------

$box-padding: 10px;
$box-border: 8px;

// Calculated Box content height ----

$box-content-height-standard: 1.5 * $font-size-standard;
$box-content-height-big: 1.5 * $font-size-big;

// Calculated Box height ------------

$box-height-standard: (2 * $box-padding) + (2 * $box-border) + $box-content-height-standard;
$box-height-big: (2 * $box-padding) + (2 * $box-border) + $box-content-height-big;

// The effective box margins --------

$real-box-margin-standard: 40px;
$real-box-margin-big: 60px;

// The calculated timeline margins --

$faux-margin-standard-top: ((2 * $real-box-margin-standard) + $endpoint-width + $box-height-standard - $year-start-height + $endpoint-start-offset);
$faux-margin-standard-bottom: ((2 * $real-box-margin-standard) + $endpoint-width + $box-height-standard - $year-end-height + $endpoint-end-offset);

$faux-margin-big-top: ((2 * $real-box-margin-big) + $endpoint-width + $box-height-big - $year-start-height + $endpoint-start-offset);
$faux-margin-big-bottom: ((2 * $real-box-margin-big) + $endpoint-width + $box-height-big - $year-end-height + $endpoint-end-offset);

.preview {

	position: absolute;
	left: 100%;
	margin-left: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;

	&>* {

		margin-right: 16px;

	}

	img {

		height: 32px;

	}

	.text-box {

		width: 4em;
		display: none;

		h2 {

			margin: 0.4em 0;
			line-height: 0.8em;

		}

		.title {

			text-shadow: 2px 0 rgb(255, 255, 255), 4px 2px 0 rgba(0, 0, 0, 0.5);
			letter-spacing: 2px;

		}

		.subtitle {

			font-style: italic;

		}

	}

	@include for-600-up {

		img {
			height: 64px;
		}

	}

	@include for-750-up {

		.text-box {

			display: block;
			width: 8em;

		}

		img {
			height: 32px;
		}

	}

	@include for-900-up {

		.text-box {

			display: block;
			width: 8em;

		}

		img {
			height: 64px;
		}

	}

	@include for-1200-up {

		.text-box {

			display: block;
			width: 15em;

		}

	}

	@include for-1600-up {
		.text-box {

			display: block;
			width: 30em;

		}
	}

}

$upcoming-label-height: 206px;

.timeline {

	$timeline-width: 46px;

	margin: $faux-margin-standard-top 0 $faux-margin-standard-bottom;
	width: $timeline-width;

	.year {

		background: url("../images/timeline/timeline.png") top center repeat-y;
		margin: $year-start-height 0 $year-end-height 0;
		position: relative;
		display: flex;
		justify-content: center;

		&::before {

			display: block;
			content: "";
			background: url("../images/timeline/timeline_start.png") no-repeat;
			width: $timeline-width;
			height: $year-start-height;
			position: absolute;
			top: -$year-start-height;

		}

		&::after {

			display: block;
			content: "";
			background: url("../images/timeline/timeline_end.png") no-repeat;
			width: $timeline-width;
			height: $year-end-height;
			position: absolute;
			bottom: -$year-end-height;

		}

		.version {

			position: absolute;
			z-index: 10;
			cursor: pointer;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;

			&.alt {

				.preview {

					left: unset;
					right: 100%;
					margin-left: unset;
					margin-right: 16px;
					flex-direction: row-reverse;

					h1,h2,h3 {
						text-align: right;
					}

					&>*{

						margin-right: unset;
						margin-left: 16px;

					}

				}

				.box {

					.preview {

						margin-right: 26px;

					}

				}

			}

			&.update-major {

				background: url("../images/timeline/icon_update_major.png");
				width: $major-width;
				height: $major-width;
				margin-top: -($major-width/2);

			}

			&.update-minor {

				background: url("../images/timeline/icon_update_minor.png");
				width: $minor-width;
				height: $minor-width;
				margin-top: -($minor-width/2);
				z-index: 15;

			}

			&.update-event {

				background: url("../images/timeline/icon_update_event.png");
				width: $event-width;
				height: $event-width;
				margin-top: -($event-width/2);
				z-index: 15;

			}

			&.update-memory {

				background: url("../images/timeline/icon_update_memory.png");
				width: $memory-width;
				height: $memory-width;
				margin-top: -($memory-width/2);
				z-index: 15;

			}

			&.endpoint {

				width: $endpoint-width;
				height: $endpoint-width;

				&.first {

					background: url("../images/timeline/icon_first.png") no-repeat;
					margin-top: -$endpoint-width - $endpoint-start-offset;
					justify-content: center;
					align-items: center;

					.box {

						margin-bottom: $real-box-margin-standard + $endpoint-width;

					}

					.preview {

						margin-left: 1px;

					}

				}

				&.today {

					background: url("../images/timeline/icon_today.png") no-repeat;
					margin-top: $endpoint-end-offset;
					justify-content: center;
					align-items: center;

					.box {

						align-self: flex-start;
						margin-top: $real-box-margin-standard + $endpoint-width;

					}

				}

			}

			&.nointeract {

				cursor: unset;

			}

			.box {

				position: relative;
				border: $box-border solid transparent;
				border-image: url("../images/borders/panel_basic.png") 8 fill stretch stretch;
				padding: $box-padding;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-end;
				align-self: flex-end;

				.preview {

					margin-left: 26px;

				}

				.content {

					height: $box-content-height-standard;

					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: stretch;

					h1 {

						flex: 1;

						white-space: nowrap;
						text-align: center;
						margin: -7px 0;

						font-size: $font-size-standard;
						text-shadow: $text-shadow-standard;

					}

				}

			}

		}

	}

	.upcoming-timeline {

		margin-top: $faux-margin-standard-top + $upcoming-label-height;
		margin-bottom: $real-box-margin-standard - $faux-margin-standard-bottom;
	//              ((2 * $real-timeline-margin-standard) + $endpoint-width + $box-height-standard - $year-end-height + $endpoint-end-offset);

		&:before {

			display: block;
			content: "";
			background: url("../images/timeline/timeline_upcoming.png") no-repeat;
			width: $timeline-width;
			height: $upcoming-label-height;
			position: absolute;
			top: -$upcoming-label-height;

		}

	}

	@include for-900-up {

		margin: $faux-margin-big-top 0 $faux-margin-big-bottom 0;

		.year {

			.version {

				&.endpoint {

					&.first {

						.box {

							margin-bottom: $real-box-margin-big + $endpoint-width;

						}

					}

					&.today {

						.box {

							margin-top: $real-box-margin-big + $endpoint-width;

						}

					}

				}

				.box {

					.content {

						height: $box-content-height-big;

						h1 {

							font-size: $font-size-big;
							text-shadow: $text-shadow-big;
							margin: -10px 0;

						}

					}

				}

			}

		}

		.upcoming-timeline {

			margin-top: $faux-margin-big-top + $upcoming-label-height;
			margin-bottom: $real-box-margin-big - $faux-margin-big-bottom;

		}

	}

}

.ruler {

	padding: $faux-margin-standard-top 0 $faux-margin-standard-bottom 0;
	flex-shrink: 0;
	width: 32px;
	background: url("../images/backgrounds/log_new.png") repeat-x left bottom,
				url("../images/backgrounds/log_old.png") repeat left top,
				#6B5432;

	.year {

		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding-bottom: $year-end-height + $year-start-height;
		box-sizing: content-box;

		.number {

			font-size: $font-size-small;
			text-shadow: $text-shadow-small;

		}

		.number-ago {

			display: none;
			text-shadow: $text-shadow-small;

		}

		&:after {

			display: block;
			content: '';
			background: url("../images/ruler/arrow_tiny.png") no-repeat;
			width: 40px;
			height: 40px;
			position: absolute;
			left: 100%;
			margin-top: -10px;

		}

	}

	.upcoming-ruler {

		margin-top: $faux-margin-standard-top + $upcoming-label-height;
		margin-bottom: $real-box-margin-standard - $faux-margin-standard-bottom;

	}

	@include for-600-up {

		width: 64px;

		.year {

			.number {

				font-size: $font-size-standard;
				text-shadow: $text-shadow-standard;
				margin-top: -0.25em;

			}

			.number-ago {

				display: block;

			}

		}

	}

	@include for-750-up {

		width: 128px;

		.year {

			.number {

				font-size: $font-size-big;
				text-shadow: $text-shadow-big;
				margin-top: -0.35em;

			}

			&:after {

				background: url("../images/ruler/arrow.png") no-repeat;
				width: 76px;
				height: 76px;
				margin-top: -28px;

			}

		}

	}

	@include for-900-up {

		padding: $faux-margin-big-top 0 $faux-margin-big-bottom 0;

		.upcoming-ruler {

			margin-top: $faux-margin-big-top + $upcoming-label-height;
			margin-bottom: $real-box-margin-big - $faux-margin-big-bottom;

		}

	}

}

.infopanel-wrapper {

	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 90;
	background: rgba(0,0,0,0.49);

}

.infopanel {

	display: flex;
	flex-direction: column;
	width: 94%;
	height: 96%;

	.top-bar {

		border: 12px solid transparent;
		border-bottom-width: 4px;
		border-image: url("../images/borders/panel_book_top.png") 12 12 4 12 fill repeat repeat;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		flex-shrink: 0;

		#infopanel-icon {

			height: 32px;
			margin-right: 10px;

		}

		#infopanel-close {

			outline: none;
			border: none;
			background: url("../images/icons/ui/button_close.png") no-repeat center center;
			cursor: pointer;
			width: 36px;
			height: 36px;
			margin-left: auto;
			display: block;

			&:hover {

				filter: brightness(1.1);

			}

		}

	}

	.content {

		flex: 1;
		border: 48px solid transparent;
		border-top-width: 18px;
		border-image: url("../images/borders/panel_book.png") 18 48 48 48 fill repeat repeat;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		overflow-x: hidden;

		h1 {
			font-size: $font-size-standard;
		}

		h2,h3,a,li,p {
			font-size: $font-size-small;
		}

		h1,h2,h3,a,li,p {

			text-shadow: none;
			color: $color-text-secondary;

		}

		p {

			margin-bottom: 0.4em;

		}

		li {

			margin-bottom: -0.2em;

			&:before {

				content: "• ";

			}

			&:last-child {
				margin-bottom: 0;
			}

		}

		header {

			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 2px solid transparentize($color-text-secondary,0.8);

		}

		#infopanel-fun-fact {

			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 2px solid transparentize($color-text-secondary,0.8);
			font-style: italic;
			line-height: 0.8em;

		}

		#infopanel-video-link-wrapper {

			display: flex;
			flex-direction: row;
			align-items: center;

			&:before {

				content: '';
				width: 16px;
				height: 11px;
				display: inline-block;
				margin-right: 5px;
				background: url("../images/icons/ui/youtube.png") no-repeat center center;
				background-size: cover;

			}

		}

		#infopanel-video-wrapper {

			position: relative;
			padding-bottom: 0.8 * 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			width: 80%;
			margin-top: 10px;

			iframe {

				padding: 4px;
				border: 2px solid transparentize($color-text-secondary,0.8);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

			}
		}

	}

	@include for-600-up {

		.content {

			h1 {
				font-size: $font-size-big;
			}

			h2,a,li,p {
				font-size: $font-size-standard;
			}

			.infopanel-video-link-wrapper {

				&:before {

					content: '';
					width: 32px;
					height: 22px;
					margin-right: 10px;

				}

			}

		}

	}

	@include for-750-up {

		width: 80%;
		height: 80%;

	}

	@include for-900-up {

		width: 70%;
		height: 70%;

	}

	@include for-1600-up {

		width: 65%;
		height: 75%;

	}

}

.hidden {
	display: none !important;
}