@font-face {
  font-family: 'Minecraft';
  src: url("fonts/Minecraft.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

h1,
h2,
h3,
li,
a,
p {
  font-family: "Minecraft", "Minecraftia", monospace, sans-serif;
  color: white;
}

body {
  font-family: "Minecraft", "Minecraftia", monospace, sans-serif;
  overflow-x: hidden;
}

body.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}